<section class="cuerpo admin-body">
    <div class="container">
        <div class="row">
            <h1>Mantenedores</h1>
        </div>
        <div class="row blanco campos pb-30">
            <div class="col-xs-12 col-sm-12">
                <div class="panel-group pestanas" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" 
                                    data-toggle="collapse" 
                                    data-parent="#accordion" 
                                    href="#pestana1" 
                                    aria-expanded="true" 
                                    aria-controls="pestana1">
                                    <i class="fa fa-plus-circle"></i> Mantenedor de Usuarios
                                </a>
                            </h4>
                        </div>
                        <div id="pestana1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                CONTENIDO MANTENEDOR DE USUARIO
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" 
                                    role="button" 
                                    data-toggle="collapse" 
                                    data-parent="#accordion" 
                                    href="#pestana2" 
                                    aria-expanded="false" 
                                    aria-controls="pestana2">
                                    <i class="fa fa-plus-circle"></i> Mantenedor de Preguntas Frecuentes
                                </a>
                            </h4>
                        </div>
                        <div id="pestana2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="mantenedor-tabla">
                                    <table>
                                        <thead>
                                            <tr class="mantenedor-titulo">
                                                <td width="15%">Orden</td>
                                                <td width="10%">Estado</td>
                                                <td width="45%">Nombre Pregunta</td>
                                                <td width="10%">Editar</td>
                                                <td width="10%">Des/Act</td>
                                                <td width="10%">Eliminar</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="icono">
                                                    <a href="#">
                                                        <i class="fa fa-arrow-up"></i>
                                                    </a>
                                                    <a href="#"> 
                                                        <i class="fa fa-arrow-down"></i>
                                                    </a>
                                                </td>
                                                <td class="icono">
                                                    <a href="#">
                                                        <i class="fa fa fa-dot-circle-o"></i>
                                                    </a>
                                                </td>
                                                <td>Pregunta 1</td>
                                                <td class="icono">
                                                    <a href="#">
                                                        <i class="fa fa-cog"></i>
                                                    </a>
                                                </td>
                                                <td class="icono">
                                                    <a href="#">
                                                        <i class="fa fa-power-off"></i>
                                                    </a>
                                                </td>
                                                <td class="icono">
                                                    <a href="#">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="icono">
                                                    <a href="#">
                                                        <i class="fa fa-arrow-up"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-arrow-down"></i>
                                                    </a>
                                                </td>
                                                <td class="icono">
                                                    <a href="#">
                                                        <i class="fa fa fa-dot-circle-o"></i>
                                                    </a>
                                                </td>
                                                <td>Pregunta 2</td>
                                                <td class="icono">
                                                    <a href="#">
                                                        <i class="fa fa-cog"></i>
                                                    </a>
                                                </td>
                                                <td class="icono">
                                                    <a href="#">
                                                        <i class="fa fa-power-off"></i>
                                                    </a>
                                                </td>
                                                <td class="icono">
                                                    <a href="#">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="icono">
                                                    <a href="#">
                                                        <i class="fa fa-arrow-up"></i>
                                                    </a>
                                                    <a href="#"> <i class="fa fa-arrow-down"></i>
                                                </td>
                                                <td class="icono">
                                                    <a href="#">
                                                        <i class="fa fa fa-dot-circle-o"></i>
                                                    </a>
                                                </td>
                                                <td>Pregunta 3</td>
                                                <td class="icono">
                                                    <a href="#">
                                                        <i class="fa fa-cog"></i>
                                                    </a>
                                                </td>
                                                <td class="icono">
                                                    <a href="#">
                                                        <i class="fa fa-power-off"></i>
                                                    </a>
                                                </td>
                                                <td class="icono">
                                                    <a href="#">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#pestana3" aria-expanded="false" aria-controls="pestana3">
                                    <i class="fa fa-plus-circle"></i> Mantenedor de Banners
                                </a>
                            </h4>
                        </div>
                        <div id="pestana3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                CONTENIDO MANTENEDOR DE BANNERS
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#pestana4" aria-expanded="false" aria-controls="pestana4">
                                    <i class="fa fa-plus-circle"></i> Mantenedor de Noticias
                                </a>
                            </h4>
                        </div>
                        <div id="pestana4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                CONTENIDO MANTENEDOR DE BANNERS
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#pestana5" aria-expanded="false" aria-controls="pestana5">
                                    <i class="fa fa-plus-circle"></i> Mantenedor de Ofertas
                                </a>
                            </h4>
                        </div>
                        <div id="pestana5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                CONTENIDO MANTENEDOR DE BANNERS
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h1>Proyectos</h1>
        </div>
        <div class="row blanco campos pb-30">
            <div class="col-xs-12 col-sm-6">
                <h4>Modelos Ingresados</h4>
                <div class="row pb-30">
                    <div class="col-xs-6">
                        <%= image_tag 'modelo.jpg', class: 'img-responsive' %>
                    </div>
                    <div class="col-xs-6">
                        <h4>Proyecto 1</h4>
                        <a class="btn edit" title="Eliminar" href="#">
                            <i class="fa fa-trash"></i>
                        </a>
                        <a class="btn edit" title="Editar" href="#">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <%= image_tag 'modelo.jpg', class: 'img-responsive' %>
                    </div>
                    <div class="col-xs-6">
                        <h4>Proyecto 2</h4>
                        <a class="btn edit" title="Eliminar" href="#">
                            <i class="fa fa-trash"></i>
                        </a>
                        <a class="btn edit" title="Editar" href="#">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h4></h4>
                <a class="btn btn-ingresar pull-right">
                    <i class="fa fa-plus-circle"></i> Ingresar Nuevo Proyecto
                </a>
            </div>
        </div>
    </div>
</section>