<section class="cuerpo admin-body">
    <div class="container">
        <div class="row">
            <h1>Mantenedores</h1>
        </div>
        <div class="row blanco campos pb-30">
            <%= render 'maintainers' %>
        </div>
    </div>
    <div class="container">
        <%= render 'projects' %>
    </div>
</section>