<section class="cuerpo scliente">
    <div class="container">
        <div class="row">
            <h1>Financiamiento </h1>
            <div class="col-sm-6">
                <h2>Financiamiento</h2>
                <p>
                    Lo que debes tener presente al momento de tramitar tu crédito hipotecario:
                    <br> • Situación económica al momento de evaluación.
                    <br> • Tener presente que se debe tomar en cuenta el dividendo final, no necesariamente la tasa de interés.
                    <br><br> Los seguros asociados al crédito son:<br>

                    <strong>-   Desgravamen:</strong> Cubre deuda en caso de muerte.<br>
                    <strong>-   Sismo e incendio:</strong> Cubre la estructura y contenido de la vivienda.
                    <br><br> Los gastos operacionales es un cobro que realiza el banco para los trámites legales ( su monto varía dependiendo del banco). Lo componen:<br> • Tasación<br> • Estudio de títulos<br> • Impuesto al mutuo<br> • Inscripción en el CBR <br> • Gastos notariales<br>
                </p>
            </div>

            <div class="col-sm-6 mt-20">
                <%= image_tag 'financiamiento.jpg', class: 'img-responsive img-thumbnail' %>
            </div>
        </div>
    </div>
</section>