<section class="cuerpo scliente">
    <div class="container">
        <div class="row">
            <h1>Información al Comprador </h1>
            <div class="col-sm-7">
                <h2>Pasos de un Compra</h2>
                <p>Al momento de tomar la importante decisión de comprar usted reservara en la sala de ventas correspondiente al proyecto elegido de INMOBILIARIA INTEGRAL, firmando una orden de compra en el acto y posteriormente esto se hará formal al momento que usted firma su promesa ante Notario, asumiendo como inmobiliaria el compromiso de mantener la unidad elegida y el valor con el cual lo adquirió. De ser una compra con crédito hipotecario debe adjuntar al momento de la reserva como requisito una carta de pre aprobación de alguna institución financiera por el monto de lo reservado.
                </p>
            </div>
            <div class="col-sm-5 mt-20">
                <%= image_tag 'informacion2.jpg', class: 'img-responsive img-thumbnail' %>
            </div>
            <div class="col-sm-6">
                <h2>Promesa de Compra Venta:</h2>
                <p>
                    Los plazos para firmar dicha promesa es de 15 días, es importante que a partir de este momento usted mantenga o mejore la condición económica (no sobre endeudarse, ingresos etc) que permitieron su pre aprobación , esto es con el objetivo de no perjudicar su posterior aprobación del crédito hipotecario.
                </p>
                <h2>Gestión Crédito Hipotecario:</h2>
                <p>La inmobiliaria le avisara con anticipación para que comience a gestionar su crédito hipotecario esto a través de correo electrónico o carta enviada a su domicilio si desea que nosotros lo asesoremos entregándole información de los convenios existentes con las distintas instituciones estamos preparados para ayudarle en la gestión.</p>
            </div>
            <div class="col-sm-6">
                <h2>Escrituración:</h2>
                <p>
                    Una vez cumplida la etapa anterior y posterior a la recepción municipal, el banco escogido para el hipotecario, envía a usted y a notaria el borrador de su escritura para su confección y la firma. Este acto lo condiciona a la posterior entrega de su vivienda </p>
                <h2>Entrega:</h2>
                <p>
                    Cumplido los requisitos anteriores y verificando que no queden saldos pendientes por conceptos alguno, se procederá a programar la entrega de su vivienda. Para lo anterior se contactaran con usted para agentar el día y hora de entrega de su vivienda, esta coordinación es importante porque se destina un tiempo prudente para la entrega. <br> En el momento de la entrega de su vivienda recibirá lo siguiente:<br> • Las llaves y garantías de equipamientos <br> • Manual de uso de la vivienda, (el cual debe ser leído)<br> • Reglamento de copropiedad, importante este sea leído y estudiado por los usuarios de la vivienda.<br>
                </p>
            </div>
        </div>
    </div>
</section>