<section class="cuerpo">
    <div class="container">
        <div class="row">
            <h1>proyectos</h1>
        </div>
        <div class="row proyecto-comuna">
            <h2>Lomas de San Andrés</h2>
            <div class="col-sm-12 ">
                <div class="row qs-ficha">
                    <div class="col-sm-5">
                        <%= image_tag 'proyectos/proy01.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                    </div>
                    <div class="col-sm-7">
                        <div class="ficha row">
                            <h2> Edificio Piamonte</h2>
                            <div class="col-sm-6">
                                <li>Nº Habitaciones: <strong>63</strong></li>
                                <li>Departamentos: <strong>1, 2 y 3 dormitorios</strong></li>
                                <li>Superficies: <strong>desde 40.69m2 a 73.54m2</strong></li>
                                <li>Ubicación: <strong>Lomas de San Andrés</strong></li>
                                <li>Estacionamiento: <strong>desde 390 UF</strong></li>
                                <li>Bodegas: <strong>desde 60 UF</strong></li>
                                <div class="desde">Valor desde <strong>2000</strong> UF</div>
                            </div>
                            <div class="col-sm-6">
                                
                                <p style="letter-spacing: 2px; font-size: 16px; font-weight: 500;">Edificio  Piamonte es un nuevo proyecto de Inmobiliaria Integral, ubicado en unos de los mejores barrios de la comuna de Concepcion. Es un edificio de 5 pisos con una vista privilegiada, excelente conectividad y orientación que entrega una vista y asoleamiento inigualable.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 ">
                <div class="row qs-ficha">
                    <div class="col-sm-5">
                        <%= image_tag 'proyectos/proy02.jpg', class: 'img-responsive img-thumbnail' %>
                    </div>
                    <div class="col-sm-7">
                        <div class="ficha row">
                            <h2> Edificio MonteCastello</h2>
                            <div class="col-sm-6">
                                <li>Nº Habitaciones: <strong>60</strong></li>
                                <li>Departamentos: <strong>1, 2, 3 y 4 dormitorios</strong></li>
                                <li>Superficies: <strong>disponible 139.72m2</strong></li>
                                <li>Ubicación: <strong>Lomas de San Andrés</strong></li>
                                <li>Estacionamiento: <strong>desde 540 UF</strong></li>
                                <li>Bodegas: <strong>desde 85 UF</strong></li>
                                <div class="desde">Valor desde <strong>7200</strong> UF</div>
                            </div>
                            <div class="col-sm-6">
                                
                                <p style="letter-spacing: 2px; font-size: 16px; font-weight: 500;">Edificio de 6 pisos se encuentra ubicado en  Avenida San Andrés cerca de varios centros importantes de servicios.  Esta ubicación es privilegiada, porque se encuentra cerca de todo, pero lejos del ruido.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row proyecto-comuna">
            <h2>San Pedro de la Paz</h2>
            <div class="col-sm-12 ">
                <div class="row qs-ficha">
                    <div class="col-sm-5">
                        <%= image_tag 'proyectos/proy03.jpg', class: 'img-responsive img-thumbnail' %>
                    </div>
                    <div class="col-sm-7">
                        <div class="ficha row">
                            <h2> Edificio Toscana</h2>
                            <div class="col-sm-6">
                                <li>Nº Habitaciones: <strong>103</strong></li>
                                <li>Departamentos: <strong>1, 2 y 3 dormitorios</strong></li>
                                <li>Superficies: <strong>desde 39.7m2 a 74.93m2</strong></li>
                                <li>Ubicación: <strong>Huertos Familiares</strong></li>
                                <li>Estacionamiento: <strong>desde 200 UF</strong></li>
                                <li>Bodegas: <strong>desde 200 UF</strong></li>
                                <div class="desde">Valor desde <strong>1.500</strong> UF</div>
                            </div>
                            <div class="col-sm-6">
                                
                                <p style="letter-spacing: 2px; font-size: 16px; font-weight: 500;">Edificio Toscana es un edificio de 5 pisos emplazado en unos de los mejores barrios de San Pedro de la Paz, con excelente conectividad, muy cercano a colegios, supermercados y servicios.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row proyecto-comuna">
            <h2>Hualpén</h2>
            <div class="col-sm-12 ">
                <div class="row qs-ficha">
                    <div class="col-sm-5">
                        <%= image_tag 'proyectos/proy04.jpg', class: 'img-responsive img-thumbnail' %>
                    </div>
                    <div class="col-sm-7">
                        <div class="ficha row">
                            <h2> Edificio Condominio Ligure</h2>
                            <div class="col-sm-6">
                                <li>Nº Habitaciones: <strong></strong></li>
                                <li>Departamentos: <strong></strong></li>
                                <li>Superficies: <strong></strong></li>
                                <li>Ubicación: <strong></strong></li>
                                <li>Estacionamiento: <strong></strong></li>
                                <li>Bodegas: <strong></strong></li>
                                <div class="desde">Valor desde <strong></strong></div>
                            </div>
                            <div class="col-sm-6">
                                
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>