@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
.btn.btn-ingresar.btn-login, .btn.btn-ingresar.pull-right{
    background-color: #e0d100;
	padding: 10px;
	border-radius: 0;
}
.btn.btn-ingresar.btn-login:hover, .btn.btn-ingresar.pull-right:hover{
    background-color: #000;
    padding: 10px;
    border-radius: 0px;
    color: #e0d100;
    transition: color 600ms, background-color 600ms;
}
.cabezera{
	background-color:#FFFFFF;
	border-bottom:#e0d100 solid 7px;
	font-family: 'Oswald', sans-serif;}
.cuerpo{
	background-color:#e0e0e0;
	padding-bottom:30px;}
section.cuerpo.admin-body {
    background-color: #e0e0e0;
}
.cuerpo.login {
	border-bottom: 0;
	background-color: #e0e0e0;
    padding-bottom: 30px;
}
.cuerpo h1 {
	background-color:#000000;
	color:#FFFFFF;
	margin-bottom:0px;
	padding:5px 0px 5px 15px;
	font-size:28px;
	font-family: 'Oswald', sans-serif;
	font-weight:300;
	text-transform:uppercase;
	}
.blanco{
	background-color:#FFFFFF;}
.campos h4{
	font-family: 'Oswald', sans-serif;
	font-weight:300;
	font-size:18px;
	padding-top:25px;
	
	}
.campos span{
	font-family: 'Oswald', sans-serif;
	font-weight:300;
	}

.campos textarea{
    height: auto;
    min-height: 150px;
}

.campos .edit{
	color:#000000;
	}
	
.box{
	padding-top:10px;
	}
.box>.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #000000;
    text-align: center;
    background-color: #e0d100;
    border: 0px solid #ccc;
    border-radius: 0px;
    width: 50%;
	}
.box>.input-group-addon.uf{

    width: 25%;
	}
.pestanas h4{
	padding-top:0px;
	font-weight:400;
	}
.pestanas>.panel-default > .panel-heading{
	background-color:#E0D100;
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	}
.pestanas>.panel-default{
	border:0px;
	border-radius:0px;
	margin-top:1px;
	margin-bottom:1px;}
.pestanas .panel + .panel {
    margin-top: 0px;
	border-color: #fff;
	border-radius:0px;
}
.usuario{
	margin-top:10px;
	}
.usuario a, a:hover{
	text-decoration:none;
	color:#000000;}
.usuario img{
	border:solid 1px #000000;
	margin-right:10px;
	}

.btn-ingresar{
	background-color:#e0d100;
	padding:10px;
	border-radius:0px;
	color:#000000;
	font-family: 'Oswald', sans-serif;}

.btn-ingresar:hover{
	background-color:#000;
	/*padding:10px;*/
	border-radius:0px;
	color:#e0d100;
	transition: color 600ms, background-color 600ms;}
.pb-30{
	padding-bottom:30px;}

.bajada{
	background-color:#000000;
	color:#FFFFFF;
	font-family: 'Oswald', sans-serif;
	font-weight:300;
	padding-top:15px;
	padding-bottom:15px;
	font-size:14px;
	border-top:#e0d100 solid 7px;
	text-align:center;}
	
.mantenedor-tabla table {
	width:100%;}
.mantenedor-tabla td{
	border-bottom:1px solid rgba(205,205,205,1.00);
	padding:8px;}

.mantenedor-titulo {
	background-color:rgba(0,0,0,1.00);
	color:rgba(255,255,255,1.00);
	text-align:center;
	}

.mantenedor table thead {
	background-color:rgba(50,164,165,1.00);
	color:rgba(255,255,255,1.00);
	text-align:center;

	}
.icono, .icono a{
	text-align:center;
	color:rgba(0,0,0,1.00);
	
}

