<footer class="bajada" style="bottom: 0;position: fixed;width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a class="icono-link-redes" href="#"><i class="fa fa-facebook"></i></a>
                <a class="icono-link-redes" href="#"><i class="fa fa-twitter"></i></a>
                <a class="icono-link-redes" href="#"><i class="fa fa-instagram"></i></a>
                <a class="icono-link-redes" href="#" title="Desarrollado por Undisclosure"><i class="fa fa-code"></i></a>
            </div>
            <div class="col-sm-6"> ©Inmobiliaria Integral Ltda. Todos los derechos Reservados<br> Calle Los Pensamientos 136, Huertos Familiares - San Pedro de la Paz.<br> Telefonos: (41) 2465555 - (41) 2379090</div>
            <div class="col-sm-3">
            	<%= image_tag 'logo-negro.jpg' %>
            </div>
        </div>
    </div>
</footer>