<header class="cabezera">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <a href="#">
                    <%= image_tag 'logo.jpg', class: 'img-responsive', alt: 'logo' %>
                </a>
            </div>
            <div class="col-xs-12 col-sm-5">
                <h1>Panel de Administración</h1>
            </div>
        </div>
    </div>
</header>