<header class="cabezera">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <a href="#">
                    <%= image_tag 'logo.jpg', class: 'img-responsive', alt: 'logo' %>
                </a>
            </div>
            <div class="col-xs-12 col-sm-5">
                <h1>Panel de Aministración</h1>
            </div>
            <div class="col-xs-12 col-sm-4 usuario">
                <div class="pull-left">
                    <%= image_tag 'usuario.jpg' %>
                </div>
                <div class="pull-left">
                    <h5>Nombre Usuario</h5>
                    <h6>
                        <a href="#">Cerrar Sesión </a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</header>