<header class="cabezera">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <a href="#">
                    <%= image_tag 'logo.jpg', class: 'img-responsive', alt: 'logo' %>
                </a>
            </div>
            <div class="col-xs-12 col-sm-5">
                <h1>Panel de Aministración</h1>
            </div>
            <div class="col-xs-12 col-sm-4 usuario">
                <div class="pull-left">
                    <%= image_tag !current_user.image.nil? ? current_user.image : 'usuario.jpg' %>
                </div>
                <div class="pull-left">
                    <h5>
                        <%= current_user.email %>
                    </h5>
                    <h6>
                        <%= link_to 'Cerrar Sesión', logout_path, method: :delete %>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</header>